/*cores*/
/*background tamanho*/
.background { width: 100%; height: 100%; }

body { color: black; }

/*Geral*/
.sem-padding { padding-left: 0; }

.topo-baixo-largo { margin-top: 30px; margin-bottom: 30px; }

.icon-top-vermelho { background: #c52d2f; color: #d34346; border: 0; padding: 0; }

.icon-top-azul { background: #172635; color: #314559; border: 0; padding: 0; }

.background-claro { background: #f7f7f7; }

.background-escuro { background: #efefef; }

/*cabeçálho*/
.navbar-propriedades { border-bottom: 3px solid #bb2225; background: #d34346; }

.logo { line-height: 10px; color: white; }

.navbar-default .navbar-nav li a { color: white; text-transform: uppercase; }
.navbar-default .navbar-nav li a:hover { color: white; background: #bb2225; }
.navbar-default .navbar-nav li a.active { background-color: #bb2225; }
.navbar-default .navbar-nav li a:focus { color: white; }

.navbar { margin-bottom: 0; }

.icon-rs-cabecalho { color: white; }

/*Carrosel*/
.carousel-control { width: 1.5%; height: 5%; top: 240px; }

.carrosel-txt-aria { position: absolute; top: -252.5px; margin-left: -20px; }

.carrosel-txt-aria-l1 { border-left: 7px solid #c52d2f; background: #d34346; }

.carrosel-txt-aria-l2 { border-left: 7px solid #172635; background: #314559; }

.txt-carrosel { padding: 15px 15px 15px 20px; margin: 0; color: white; }

.carousel-inner > .item > img { width: 100%; height: 500px; margin: auto; }
.carousel-inner > .item > a > img { width: 100%; height: 500px; margin: auto; }

a .mi-left { position: absolute; left: 0; margin-top: -32.5px; padding: 10px; background: #d34346; color: white; }
a .mi-right { position: absolute; right: 0; margin-top: -32.5px; padding: 10px; background: #d34346; color: white; }

.carrosel { margin-top: 53px; }

/*Divisorias*/
.divisoria h4 { text-transform: uppercase; padding: 12px; font-weight: bold; margin-top: 0; }
.divisoria .azul { color: white; background: #314559; border-left: 7px solid #172635; }
.divisoria .vermelha { color: white; background: #d34346; border-left: 7px solid #c52d2f; }

/*Valores*/
span.fa-road::before { content: "\f018"; font-family: FontAwesome; font-size: 25px; position: absolute; color: black; }

span.fa-leaf::before { content: "\f06c"; font-family: FontAwesome; padding-right: 3px; font-size: 25px; position: absolute; color: black; }

span.fa-home::before { content: "\f015"; font-family: FontAwesome; padding-right: 3px; font-size: 25px; position: absolute; color: black; }

span.fa-users::before { content: "\f0c0"; font-family: FontAwesome; padding-right: 3px; font-size: 22px; position: absolute; color: black; }

.conteudo-txt { padding-left: 50px; }

.conteudo-title { padding-left: 50px; color: #d34346; }

/*About us*/
ul { list-style-type: none; }

.pull-right-margin-top { margin-top: -2px; }

.testemonials-txt, .tab-pane { padding: 20px; background: white; }

.testemonials-name { color: #d34346; }

.testemonials-icon-left { margin-left: 195px; color: white; background: #c8c8d8; border: 0; padding: 0; }

.testemonials-icon-right { color: white; background: #c8c8d8; border: 0; padding: 0; }

.seta { color: #d34346; }

/*team*/
.team_img { width: 100%; height: auto; padding: 5px; }

.team_name, .team_description, .services-title { text-align: center; }

.team_description { color: #d34346; }

.team-caixa { background: white; border-left: 15px solid #efefef; margin-left: -15px; padding-bottom: 10px; }

.team-icon { background: #c52d2f; color: #d34346; border: 0; padding: 0; }

/*Services*/
.fa-comments, .fa-table, .fa-cog, .fa-flask, .fa-bar-chart, .fa-plane { font-size: 50px; margin-left: 57.5px; color: #d34346; }

.services-title { color: #d34346; }

/*Tabulador*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { color: #d34346; }

a:hover, a:focus, a { color: black; }

/*Grafico Serviços*/
.blue { font-size: 14px; width: 35%; height: auto; padding: 8px; padding-top: 10px; display: inline-block; border-left: 7px solid #172635; color: white; background: #314559; }

.red { height: auto; padding: 8px; padding-top: 10px; display: inline-block; margin-left: -3.5px; color: white; background: #d34346; }

.bar_background { height: 38px; float: right; display: inline-block; margin-left: -3.5px; background: #efefef; color: white; }

.grafic_bar { margin-bottom: 12px; }

.grafic_title { margin-top: 0; margin-bottom: 12px; font-size: 18px; }

/*Planos*/
.button-azul { width: 262.5px; height: auto; padding: 8px; display: block; border: none; background: #314559; color: white; }

.button-vermelho { width: 262.5px; height: auto; padding: 8px; display: block; border: none; background: #d34346; color: white; }

span.caracteristica::before, span.caracteristica-red::before { content: "\f046"; font-family: FontAwesome; padding-right: 3px; }

.plano-caixa { height: 280px; background: #f7f7f7; }

.plano-conteudo .plano { height: auto; padding: 8px; display: block; font-size: 14px; border-left: 7px solid #172635; background: #314559; color: white; }
.plano-conteudo .atribute { height: auto; padding: 8px; padding-left: 20px; display: block; }
.plano-conteudo .preco { font-size: 24px; border-top: 3px solid #efefef; background: #f7f7f7; }
.plano-conteudo .caracteristica { font-size: 16px; border-top: 3px solid #efefef; background: #f7f7f7; }
.plano-conteudo .plano-red { height: auto; padding: 8px; display: block; font-size: 14px; border-left: 7px solid #c52d2f; background: #d34346; color: white; }
.plano-conteudo .preco-red { font-size: 24px; color: #d34346; border-top: 3px solid #efefef; background: #f7f7f7; }
.plano-conteudo .caracteristica-red { font-size: 16px; color: #d34346; border-top: 3px solid #efefef; background: #f7f7f7; }

/*Sign up*/
.Sign-up-bar { padding: 20px; }

.newsletter_fild { font-size: 39px; width: 366.343px; border: 1px solid #E6E6E6; }

.button_newsletter { background: #d34346; float: right; height: 58.5px; margin-right: 5px; border: none; }

.button_l1 { display: block; text-transform: uppercase; letter-spacing: -0.2px; color: white; }

.button_l2 { font-size: 20px; letter-spacing: 1px; color: white; }

/*contatos*/
.img { background-image: url(../img/map.png); width: 100%; height: 500px; }

.email { color: #d34346; }

.comment { padding-top: 93px; }

.form-comment { height: 132px !important; }

.btn-default { width: 100%; text-transform: uppercase; }

.btn-default:hover, .btn-default { background-color: #d34346; color: white; }

.form-margin { margin-top: 40px; }

/*Icons redes sociais baixo*/
.icon-ul { padding: 0; }

.icon-li { display: inline-block; }

.icon-rs { color: white; }

.facebook-icon { width: 30px; height: 30px; background-color: #4467ae; line-height: 30px; padding: 0; text-align: center; margin-left: 5px; margin-right: 5px; display: inline-block; }

.google-plus-icon { width: 30px; height: 30px; background-color: #d34346; line-height: 30px; padding: 0; text-align: center; margin-left: 5px; margin-right: 5px; display: inline-block; }

.twitter-icon { width: 30px; height: 30px; background-color: #0099cc; line-height: 30px; padding: 0; text-align: center; margin-left: 5px; margin-right: 5px; display: inline-block; }

/*Footer*/
.footer { padding-bottom: 10px; padding-top: 12px; text-align: center; font-weight: 100; background: #314559; }

.footer-margin { margin-right: 10px; color: white; }

.footer_right, .divisoria-about-us_right { float: right; }

.footer_left { float: left; color: white; }
